@import '../../../components/style.less';

.page-crypto {
  .page-wrapper();

  .crypto-type {
    width: 200px;
    margin-bottom: 15px;
  }

  .coder-btn {
    display: block;
    margin: 15px auto;
  }
}
